spring.application.name=lingetic
server.port=8000

spring.web.cors.allowed-origins=http://localhost:3000
spring.main.allow-circular-references=true

clerk.apiKey=****************

sentry.dsn=https://395a50a4da23afeb05d9959f9859ed3d@o4508705106952192.ingest.de.sentry.io/4508942592770128
sentry.send-default-pii=true
sentry.environment=dev
